<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/logo.png" alt="" /></span>
            <h1 id="logo"><span>{{site.title}}</span></h1>
            <p>{{site.description}}</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">About</a></li>
                <li><a href="{{ site.baseurl }}/episodes">Episodes</a></li>
                <li><a href="{{ site.baseurl }}/whoweare">Who We Are</a></li>

            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://soundcloud.com/user-781511069" class="icon fa-soundcloud"><span class="label">Twitter</span></a></li>
                <li><a href="https://itunes.apple.com/us/podcast/dartmouth-voxcast/id1112610474?mt=2" class="icon fa-music"><span class="label">Twitter</span></a></li>
                <li><a href="https:twitter.com/{{site.twitter_username}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="mailto:{{site.email}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

